<footer>
  <hr>
  <p><%= current_year %>, Timur Pavlov.</p>
  <p><%= link_to 'TestGuru', github_url('Morcello', 'test_guru') %> project for <%= link_to 'Thinknetika', 'http://thinknetica.com/' %> school.</p>
</footer>
