<div class="footer" align="center">
  <div>TestGuru<span><%= footer_year %></span></div>
  <div>About the author Test Guru</div>
  <div>Educational project in an online school
    <span><a href="http://thinknetica.com/" target="_blank">Thinknetica</a></span>
  </div>
  <%= github_url('Timur Pavlov', "https://github.com/Morcello/test_guru") %>
</div>
